# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/

# VS Code
.vscode/

# Docker
docker-data/
*.log

#Ariflow
airflow/logs/
airflow/config/

# OS
.DS_Store
Thumbs.db

test_sales_ingestion.csv